/* Center the content */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #4d0101;
}

/* Style the buttons */
.button-container {
  margin: 20px 0;
}

.button-container a {
  text-decoration: none;
  margin: 10px;
}

.secondary-container-a{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #4d0101;
  padding-left: 10px;
}

.secondary-container-b {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 20px;
}

.secondary-container-c{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #4d0101;
}

.secondary-container-b Button {
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}

.secondary-container-b textarea {
  width: 70%;
  height: 100%;
  margin: auto;
  resize: none;
  margin-bottom: 10px;
}

.secondary-title {
  color: white;
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 3px;
}

.secondary-title-centered {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 3px;

}

.title-text {
  color: white;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

.secondary-text {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.secondary-text-a {
  color: white;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}

.settings-button {
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

/* Style the text */
.text-container {
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: left;
}

h2 {
  margin-bottom: 10px;
  color: #007bff;
}

p {
  margin-bottom: 10px;
}

.button-disabled {
  pointer-events: none;
  opacity: 0.5; 
  cursor: not-allowed; 
}

.secondary-container-d {
  display: flex;
  flex-direction: row; /* Display the buttons and bunker list side by side */
  align-items: flex-start; /* Align items to the top */
  margin: 20px;
}

.buttons-left {
  display: flex;
  flex-direction: column; /* Stack the buttons vertically */
  align-items: flex-start; /* Align items to the left */
  margin-right: 20px; /* Add space between the buttons and bunker list */
  margin-top: 10px;
}

.buttons-left-row {
  display: flex;
  flex-direction: row; /* Stack the buttons vertically */
  align-items: flex-start; /* Align items to the left */
  margin-right: 20px; /* Add space between the buttons and bunker list */
  margin-top: 10px;
}

.buttons-left Button {
  width: fit-content;
  margin-bottom: 10px;
}

.buttons-left-row Button {
  width: fit-content;
  margin-bottom: 10px;
  margin-right: 10px;
}

.bunker-list {
  display: flex;
  flex-direction: column; /* Stack the bunker cards vertically */
  margin-top: 10px;
  flex-grow: 1; /* Allow the bunker list to take available space */
}